name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git submodule update --init ObsidianIRC
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run lint:fix
      - run: bun run format
      - run: bun run test
